.calendar__table {
    width: 100%;
    align-content: center;
    border: 1px solid rebeccapurple;
    
}
.calendar__table td {
    padding-left: 5px;
    border: 1px solid #CCC;
    vertical-align: top;
    width: 14.29%;
    height: calc(100vh - 87vh);
    
}
.selected{
    border: 2px solid #222;
    background-color: aqua;
    font-size: 1.4em;
}
.calendar__weekday {
    font-weight: bold;
    color: #000;
    font-size: 1.1em;
}
.calendar__day {
    font-size: 1.2em;
}
.calendar__othermonth  .calendar__day  {
    opacity: 0.3;
}
.calendar__othermonth  li  {
    opacity: 0.3;
}